# Site settings
course_name: Responsible AI
course_description: "This course explores the ethical, social, and technical challenges in developing and deploying artificial intelligence systems. Students will learn about fairness, accountability, transparency, privacy, and the broader societal impacts of AI technologies. Through lectures, case studies, and hands-on projects, we will examine how to build AI systems that are beneficial, trustworthy, and aligned with human values."
course_semester: "Fall 2025"

baseurl: "/hkustgz-responsible-ai" # the subpath of your site, e.g. /blog/
url: "https://chenrf1121.github.io/" # the base hostname & protocol for your site

schoolname: "HKUST-GZ"
schoolurl: "https://www.hkust-gz.edu.cn/"
twitter_username: HKUST_GZ

address: |
    Hong Kong University of Science and Technology (Guangzhou)
    No. 1 Du Xue Rd, Qingshuihe Campus
    Nansha District, Guangzhou, 511400
    China

# Set your Google Analytics tracking ID (set up yours at http://www.google.com/analytics/)
# google_analytics: UA-XXXXXXXX-X

### Do not change the followings unless you know what you are doing ###

# Build settings
markdown: kramdown

# Other options
permalink: blog/:year/:month/:title
excerpt_separator: "<!--more-->"

include: ['_images', '_css']
exclude: ['develop']

dateformat: "%m/%d/%Y"

future: true
collections:
    events:
        output: true
    lectures:
        output: true
    assignments:
        output: true
    announcements:
        output: false


defaults:
  - scope:
      path: ""
      type: "assignments"
    values:
      layout: "assignment"
